/* -------  General Styles ------- */

body {
  font-family: "Lato", sans-serif;
}

h2 {
  font-size: 26px;
  font-weight: 400;
  margin: 0 10px 10px 10px;
  text-align: center;
}

h3 {
  font-size: 18px;
  font-weight: 500;
}

p {
  line-height: 1.5em;
  margin: 0;
}

section {
  padding: 20px;
}

section.alternate-background {
  background-color: #00a699;
  color: #fff;
}

main img {
  width: 100%;
}

/* ---  Groups & Items --- */

.group {
  display: flex;
  flex-direction: column;
}

.item {
  flex: 1;
  margin: 10px;
}

.item-double {
  flex: 2;
  margin: 10px;
  
}

/* -------  Navigation ------- */

header {
  /* display: flex; */
  /* flex-wrap: wrap; */
  /* flex-shrink: 1; */
  /* flex-grow: 1; */
  /* flex-direction: column; */
  background-color: #ff385c;
  padding: 20px 20px 0 20px;
  text-align: center;
}

.logo {
  display: flex;
  font-family: "Pangolin", cursive;
  font-size: 72px;
  color: #fff;
  flex-wrap: wrap;
  flex: 1;
  /* flex-shrink: 1;
  flex-grow: 1; */
}

header nav ul {
  display: flex; 
  justify-content:  center;
  flex-wrap: wrap;
  flex: 1;
  
  
}

header nav ul li {
  list-style-type: none;
  
  
}


header nav ul li a {
  flex-wrap: wrap;
  flex-shrink: 1;
  color: #fff;
  text-decoration: none;
  padding: 0 20px 0 0;
}

header nav ul li a:hover {
  color: #bdbdbd;
  text-decoration: none;
}

/* -------  Search Form ------- */
form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 2px solid #ff385c;
    padding: 10px;
  }
/* .control{
  flex-shrink: 1;
  flex-wrap: wrap;
} */
.button{
  align-items: stretch;
  flex-grow: 1;
  flex-shrink: 2;
  flex-wrap: wrap;
} 
form label {
  font-weight: bold; 
  
}

form select,
form input {
  margin-bottom: 20px; 
  /* width: 180px; */
  width: 50%;
}

form button {
  background-color: #ff385c;
  border: none;
  color: #fff;
  font-size: 24px;
  padding: 15px;
  width: 100%;
}


/* -------  Footer ------- */

footer {
  background-color: #ff385c;
}

footer p {
  color: #fff;
  text-align: center;
  padding: 20px;
}

/* -------  Media Query ------- */
@media all and (min-width: 480px){
  .group {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

 #about p{
   justify-items: center;
 }

  form {
    /* display: flex;  */
    flex-direction: row;
    /* align-items: center;
    justify-content:start;
    flex-wrap: nowrap;
    flex-shrink: 1; */
  }
  
  
  header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
    flex-shrink: 0;
  }
  .logo {
    font-size: 36px;
  }
 
  
  form button {
    background-color: #ff385c;
    border: none;
    color: #fff;
    font-size: 24px;
    padding: 12px;
    width: 100%;
  }
  .control{
    display: flex;
    width: 100%;
    flex: 1;
  }
}
